body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  margin: 10px;
}
.notification{
  border: 1px solid green;
  color: rgb(5, 92, 5);
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(118, 181, 23);
  margin: 10px 0;
}
.error{
  border: 1px solid rgb(175, 14, 2);
  color: rgb(175, 14, 2);
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(234, 102, 100);
  margin: 10px 0;
}
label{
  display: block;
  font-style: italic;
}
form{
  margin: 20px 0;
}
button{
  cursor: pointer;
}
.blog_title_wrapper{
  display: flex;
  align-items: center;
}
.blog_title, .blog_author_label, .blog_url_label, .blog_likes_label, .blog_user_label{
  margin-right: 10px;
}
.blog_info{
  display: none;
}
.expanded .blog_info{
  display: block;
}
.blog_single{
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #000;
  min-width: 300px;
}
.blog_title_wrapper{
  display: flex;
  justify-content: space-between;
}
.blogs_list{
  margin-top: 10px;
  display: inline-flex;
  flex-direction: column;
}
.blog_title{
  font-weight: bold;
}
.like_btn{
  margin-left: 10px;
  display: inline-block;
}